:root {
    --yellow: #fff51f;
    --red: #e24602;
    --dark-grey: #333;
    --blue: #26d2fc;
    --grey: #aaa;
    --light-grey: #eaeaea;
    --light-blue: #abeafa;
}

.text-red {
    color: var(--red)
}

.text-yellow {
    color: var(--yellow);
}

.text-orange {
    color: var(--blue)
}

.text-dark {
    color: var(--dark-grey)
}

.text-light {
    color: var(--light-grey)
}

.bg-yellow {
    background: var(--yellow);
}

.bg-red {
    background: var(--red);
}

.bg-dark {
    background: var(--dark-grey);
}

.bg-light {
    background: var(--light-grey);
}

.bg-blue {
    background: var(--blue);
}

.bg-light-blue {
    background: var(--light-blue);
}

.bg-grey {
    background: var(--grey);
}

/*МОДУЛИ*/

/*Контейнер с картинкой(Высота контейнера = высота картинки)*/

.page-container {
    height: 700px;
    overflow: visible;
}

/*Language*/

.language__text {
    color: white !important;
}