:root {
    --yellow: #fff51f;
    --red: #e24602;
    --light-red: #fb4d01;
    --dark-grey: #333;
    --blue: #26d2fc;
    --grey: #aaa;
    --light-grey: #eaeaea;
    --light-blue: #abeafa;
    --raleway: 'Raleway', sans-serif;
}

.text-red {
    color: var(--red)
}

.text-yellow {
    color: var(--yellow);
}

.text-orange {
    color: var(--blue)
}

.text-dark {
    color: var(--dark-grey)
}

.text-light {
    color: var(--light-grey)
}

.bg-yellow {
    background: var(--yellow);
}

.bg-red {
    background: var(--red);
}

.bg-light-red {
    background: var(--light-red);
}

.bg-dark {
    background: var(--dark-grey);
}

.bg-light {
    background: var(--light-grey);
}

.bg-blue {
    background: var(--blue);
}

.bg-light-blue {
    background: var(--light-blue);
}

.bg-grey {
    background: var(--grey);
}

.raleway {
    font-family: var(--raleway);
}

/*Header*/

.navigation {
    padding-top: 24px;
    padding-left: 70px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.navigation__icons {
    padding-top: 30px;
    display: flex;
}

.navigation__icons a{
    margin-right: 20px;
}

@media (max-width: 1050px) {
    .navigation {
        padding-left: 0 !important;
    }
}

body {
    background: #f8f8f8;
}

/*МОДУЛИ*/

/*Контейнер с картинкой(Высота контейнера = высота картинки)*/

.page-container {
    height: 700px;
    overflow: visible;
}

@media (max-width: 767px) {
    .page-container {
        background-image: none !important;
    }

    body {
        background: #abeafa;
    }
}

.page-container-small {
    height: 370px;
    overflow-y: visible;
}

/*Language*/

.language__text {
    color: white !important;
    padding-top: 0 !important;
}

/*UserInfo(корзина + поиск + логин)*/

.user__info {
    height: auto;
    background: white;
    display: flex;
    flex-direction: column;
}

.user__info__text_blocks {
    padding: 10px 0 10px 35px;
    font-size: 12px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .user__info {
        margin-bottom: 20px;
    }
}

/*Cart*/

#cart {
    margin-bottom: 0 !important;
}

.cart__wrapper {
    height: 100%;
}

.cart {
    padding: 15px 25px 15px 15px;
    display: flex;
    color: white;
}

.cart > div:nth-child(2) {
    width: 100%;
    padding-left: 15px;
}

.cart__buttons {
    display: flex;
    justify-content: space-between;
}

.cart__price {
    font-size: 1.5em;
}

.cart__edit {
    font-size: 1.3em;
}

.cart__clear {
    cursor: pointer;
}

.cart__dropdown__activator {
    cursor: pointer;
}

.cart__buttons div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    padding: 5px 0;
}

.cart__buttons div a {
    color: white
}

.cart__buttons div:first-child {
    background: #ee4a02;
}

.cart__buttons div:last-child {
    background: #e24602;
}

/*Search*/

.search {
    margin-bottom: 0;
    display: flex !important;
}

.search__input {
    height: 36px;
    width: 100%;
    border: 0;
    padding-left: 10px;
    margin-bottom: 0 !important;
}

.search__input::placeholder {
    text-transform: uppercase;
}

.search button {
    border: 0;
    min-width: 34px;
}

/*Welcome banner*/

.welcomeBanner {
    padding: 82px 36px 82px 25px;
    margin-top: 10px;
}

.welcomeBanner__title {
    margin-bottom: 24px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 0;
}

.welcomeBanner__text {
    font-weight: bold;
    font-size: 1.3em;
    line-height: 14px;
    font-style: italic;
    margin: 0;
}

@media (max-width: 1199px){
    .welcomeBanner {
        padding: 30px 10px 30px 10px;
    }

    .welcomeBanner__title {
        font-size: 25px;
    }
}

@media (max-width: 992px){
    .welcomeBanner__title {
        font-size: 20px;
    }
}

@media (max-width: 768px){
    .welcomeBanner {
        margin-bottom: 20px;
    }
}

/*Slider*/

.slider__wrapper {
    display: flex;
}

#carousel__main {
    background: transparent;
    width: calc(100% - 60px);
}

#carousel__main__nav {
    display: flex;
    padding-top: 136px;
}

#carousel__main__nav > div {
    min-width: 30px !important;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    cursor: pointer;
}

#carousel__main__nav > div:last-child {
    background: #fbde06
}

.slide {
    height: 450px;
    width: 100%;
    background: transparent !important;
}

.slide__demo {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
}

.slide__demo__content {
    width: 313px;
}

.slide__demo__content h1 {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 27px;
    font-size: 3.5em;
}

.slide__demo__content__text {
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: 60px;
}

.slide__demo__content button {
    border: 0;
    padding: 15px 28px;
    font-weight: 800;
    text-transform: uppercase;
    color: black;
    font-size: 14px;
}

#dots__container {
    padding-left: 211px;
}

#dots__container > .owl-dot {
    width: 40px;
    height: 4px;
    border: 0;
    margin: 0px 10px;
    background: var(--yellow);
}

#dots__container > .owl-dot.active {
    background: var(--red);
}

@media (max-width: 1170px) {
    #dots__container {
        display: flex;
        padding-left: 0;
        justify-content: center;
    }
}

@media (max-width: 970px) {
    #carousel__main__nav {
        display: none;
    }

}

/*Menu*/

.menu {
    margin-top: 40px;
    list-style: none;
    padding: 0;
}

.menu__title {
    padding: 30px 0 21px 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.menu__item {
    display: flex;
    align-items: center;
    height: 43px;
    padding-left: 40px;
    text-transform: uppercase;
    font-weight: 900;
}

.menu__item:hover > a, .menu__item:hover, .menu__item.selected > a, .menu__item.selected{
    background: var(--dark-grey);
    color: #fff;
}

.menu__item > a {
    color: #000;
    font-size: 14px;
    width: 100%;
}

/*open banner*/


.open_banner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 300px;
    padding-right: 20px;
    margin-top: 20px;
}

.open_banner__text {
    font-size: 36px;
    font-style: italic;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 900;
}

/*brands*/

.brands {
    display: flex;
    height: 160px;
    overflow-x: hidden;
    justify-content: space-between;
    margin-top: 30px !important;
    margin-bottom: 0 !important;
}

.brands__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brands__brand {
    height: 150px;
    width: auto !important;
}

/*instagram*/

.instagram {
    padding-top: 50px;
    padding-bottom: 58px;
}

#instagram__carousel {
    background: transparent;
}

.instagram__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    margin-bottom: 30px;
}

.insta__title__bold {
    font-weight: 900;
    font-size: 22px;
    margin: 0 10px;
}

.insta__title__link {
    font-size: 18px;
    font-weight: bold;
}

.instagram__carousel__slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram__carousel__slide img {
    width: 180px !important;
    height: 180px;
    border: 5px white solid;
}

@media (max-width: 343px){
    .insta__title__bold {
        margin: 0 0;
        font-size: 20px;
    }
}

/*social_links*/

.social_links {
    display: flex;
}

.social_link__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;

}

/*products*/

.products__section {
    background: #f8f8f8;
}

.products__section__title {
    color: #707070;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    display: flex;
    align-items: center;
    padding-left: 25px;
    height: 76px;
    justify-content: space-between;
    padding-right: 33px;
}

.products__carousel__1 {
    background: transparent !important;
    display: flex;
    justify-content: space-between;
}

.products__carousel__1 .owl-stage {
    height: 318px;
    overflow-y: hidden;
}

.products__section__title button {
    border: 0;
    background: transparent;
}

.product__item__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


.product__item {
    width: 270px;
    border: 10px white solid;
    background: white;
    height: 100%;
}

.product__item__img_container {
    height: 235px;
}

.product__item__img_container img {
    height: 100%;
    object-fit: cover;
}

.product__item__desc {
    font-family: Roboto;
    font-style: italic;
    font-weight: 900;
    font-size: 14px;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px 4px 23px 16px;
}

.product__item__desc__price {
    font-size: 18px !important;
}

.product__item__desc__price__old {
    text-decoration: line-through;
    color: var(--red);
    font-size: 12px;
}

.products_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 10px
}

@media (max-width: 992px) {
    .products_grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 486px) {
    .products_grid {
        grid-template-columns: 1fr;
    }
}

/*footer*/

footer {
    margin-top: 0 !important;
    background: #373737 !important;
}

.footer__content {
    padding-top: 73px;
    padding-bottom: 60px;
}

.footer__col_title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
    line-height: 18px;
    margin-top: 0;
    margin-bottom: 30px;
}

.footer__col_content {
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.footer__col_title__newsletter {
    margin-bottom: 5px;
}

.footer__col_title__about {
    margin-bottom: 5px;
}

.footer__about_text {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
}

.footer__about__phone, .footer__about__email{
    font-family: Roboto;
    color: white;
    font-size: 14px;
}

.footer__powered__wrappper {
    display: flex;
    align-items: center;
    height: 50px;
}

.footer__powered {
    color: #dad9d9;
    font-size: 12px;
    margin-bottom: 0;
}

.footer__down {
    display: flex;
    justify-content: space-between;
}

.footer__down__icon {
    margin: 0 10px;
}

@media (max-width: 566px) {
    .footer__down {
        display: block;
    }
}